<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<%= form_for @yeni_yazi, url: {action: "create"} do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :content %>
    <%= f.submit "Create" %>
<% end %>


</body>
</html>